<h1>Order</h1>
<% order_items=CartItem.joins("INNER JOIN items ON cart_items.item_id=items.id").where(cart_id:@order.cart_id).pluck(:item_id,:title,:quantity,:price)%>
<%= render partial:'carts/cart_items',locals:{items:order_items,view:'order',order:@order}%>
