
<%if policy(item).create?%>
<div class="container">
    <div class="" style="display: flex; flex-direction: row;justify-content: space-around;padding-top:30px">
    <%= link_to 'Show', item_path(item) ,style:'color:blue'%>
    <%= link_to 'Edit', edit_item_path(item) ,style:'color:green'%>
    <%= link_to 'Destroy', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } ,style:'color:red',remote: true,class:"delete"%>
    </div>
</div>
<%end%>
