<%if user_signed_in?%>
  <%if policy(item).create?%>
  <div class="links">

      <%= link_to 'Show', item_path(item) %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } ,remote: true,class:"delete"%>
  </div>
<%end%>
<%end%>
